<form novalidate name="frmCategoryItem" #frmCategoryItem="ngForm" (ngSubmit)='frmCategoryItem.valid && save()'>
    <div class="modal-title">
        <div class="row nav-tools">
            <div class="col s12 flex">
                <div class="title-n-t">
                    <a>Cập nhật sản phẩm</a>
                </div>

                <div class="tool1">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-content animated fadeInLeft">
        <div class="row input-custom-inline">
            <input-field required [(ngModel)]="categoryItem.categoryItemName" type="text" name="'cateName'"
                title="Tên sản phẩm" [frm]="frmCategoryItem">
            </input-field>
        </div>
        
        <div class="row input-custom-inline ">
            <input-field min='0' required [(ngModel)]="categoryItem.unitPrice" type="number" name="catePrice" title="Giá sản phẩm"
                [frm]="frmCategoryItem">
            </input-field>
        </div>

        <div class="row input-custom-inline ">
            <p>Nhóm danh mục: </p>
            <div class="input-field inline">
                <select-field [(ngModel)]="categoryItem.categoryId"
                    [data]="lstCategoryData"
                    name="'cateGroupId'" title="Trạng thái" [frm]="frmCategoryItem">
                </select-field>
            </div>
        </div>

        <!-- Upload ảnh -->
        <div class="row input-custom-inline">
            <p>Ảnh sản phẩm: </p>
            <div class="file-field input-field inline">
                <div class="btn btn-small">
                    <span>Tải ảnh lên</span>
                    <input (change)="onchange($event.target.files)" type="file" multiple='0' accept="image/*">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <!--Hiển thị ảnh-->
        <div class="row">
            <p></p>
            <div class="input-field inline">
                <div class=" container-fluid">
                    <div id="avataPreview" class="center"
                        style="height: 140px; width: 140px; background-color:#DDD;">
                        <img id="avatar" class="materialboxed" [imageLoader]="link" alt="your image" />
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green ok-but btn-flat btn-update" type="submit">
            <i class="far fa-save"></i> Lưu lại
        </button>

        <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-but">
            <i class="fa fa-times"></i>Đóng
        </a>
    </div>
</form>