<div class="view-detail" overlay-loading [loading]="!isShowPage">
    <div style="position: relative;">
        
        <div >
            <h4 class="vd-tit">{{data.title}} <i class="fa fa-times" (click)="close()"></i></h4>
            <div class="vd-tool">
                <!-- <div class="icon"><i class="fas fa-ellipsis-v"></i></div> -->
                <div class="item-t-vd">
                    <i *ngFor="let it of data.tools" (click)="it.action(data.data)" class="fa {{it.icon}}"
                        title="{{it.title}}"></i>
                </div>
            </div>
            <div class="vd-info">
                <!-- <div class="icon"><i class="fas fa-info"></i></div> -->
                <div class="item-i-vd">
                    <div *ngFor="let item of data.info"><span>{{item.title}}</span> {{item.value}}</div>
                </div>
            </div>
            <div class="vd-status" *ngIf="data.status">
                <!-- <div class="icon"><i class="fas fa-check"></i></div> -->
                <div [ngStyle]="data.status?.color">
                    <div class="item-i-sts" [ngStyle]="{'color': data.status?.bg?.background ? data.status?.bg?.background : '#eee'}">
                       <i *ngIf="data.status?.bg?.background == 'green'" class="fa fa-check"></i> &nbsp;{{data.status.title}}
                    </div>
                </div>
            </div>
            <div class="vd-table" *ngIf="data.product">
                <!-- <div class="icon"><i class="fas fa-th-list"></i> <h4>Danh sách mặt hàng</h4></div> -->
                <table class="">
                    <tr>
                        <th *ngFor="let item of data.table; let last = last" [ngStyle]="{'text-align': last ? 'right': ''}">{{item.title}}</th>
                    </tr>
                    <tr *ngFor="let item of data.data.details">
                        <ng-container *ngFor="let t of data.table">
                            <td *ngIf="t.isNumber" style="text-align: right;" title="{{item[t.value]|number:0:0:14}}">
                                {{item[t.value]|number:0:0:14}}</td>
                            <td *ngIf="!t.isNumber" title="{{item[t.value]}}">{{item[t.value]}}</td>
                        </ng-container>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>