<div class="row nav-tools">
    <div class="col s12 flex">
        <div class="title-n-t">
            <a tootip>Theo dõi trạng thái</a>
            <!--<span>/</span>-->
        </div>
        <div class="tool1">
            <a (click)='search(); keyword=""' class="mr5 btn-add"><i class="fa fa-sync"></i>Làm mới</a>

            <!-- Phần này để hiển thị danh sách làm với tab được chọn-->
            <!-- <ng-container *ngIf="selectedValueTab">
                    <cms-app-actionmenu [value]="selectedValueTab" [lstEvent]="configTable.eventTable"></cms-app-actionmenu>
            </ng-container> -->
        </div>

        <div class="tool3">
            <div class="t3" style="opacity: 0;">
                <a class="">Bộ lọc <i class="fa fa-angle-down"></i></a>

            </div>
            <div class="search">
                <input (keyup.enter)='search(keyword)' placeholder="Tìm kiếm..." [(ngModel)]="keyword" name="keyword"
                    type="text">
                <!-- <i (click)='reset()' *ngIf='keyword!=""' class="fa fa fa-times"></i> -->
                <button><i class="fa fa-search"></i></button>
            </div>
            <!-- <app-paging-data (changeLimit)="limit = $event;search(1)" (next)="pageIndex = $event;search(pageIndex)" 
            (prev)="pageIndex = $event;search(pageIndex)" [limit]="limit" [pageIndex]="pageIndex" [(total)]="total"></app-paging-data> -->
        </div>
    </div>
</div>



<div overlay-loading [loading]="!isShowPage" class="row animated slideInDown">
    <cms-dashboard-table id="tableus" (DoubleClickValue)="viewmode($event)" (selectedValue)="selectedValueTab = $event"
        [configTable]="configTable" [data]="lstData">
    </cms-dashboard-table>
</div>