<div class="row nav-tools">
    <div class="col s12 flex">
        <div class="title-n-t">
            <a tootip>Công ty con</a>
            <!--<span>/</span>-->
        </div>
        <div class="tool1">
            <a class="mr5 btn-add" routerLink='add'  *ngIf="(curentPermission.isAdd)"><i class="fa fa-plus"></i>Tạo mới</a>
            <ng-container *ngIf="selectedValueTab">
                    <app-actionmenu [value]="selectedValueTab" [lstEvent]="configTable.eventTable"></app-actionmenu>
            </ng-container>
        </div>

        <div class="tool3">
            <div class="t3" style="opacity: 0;">
                <a class="" >Bộ lọc <i
                        class="fa fa-angle-down"></i></a>

            </div>
            <div class="search">
                <input placeholder="Tìm kiếm..." [(ngModel)]="keyword" name="keyword" type="text"
                    (keyup.enter)="search(1)">
                <i (click)='reset()' *ngIf='keyword!=""' class="fa fa fa-times"></i>
                <button (click)="search(1)"><i class="fa fa-search"></i></button>
            </div>
            <app-paging-data (changeLimit)="limit = $event;search(1)" (next)="pageIndex = $event;search(pageIndex)" 
            (prev)="pageIndex = $event;search(pageIndex)" [limit]="limit" [pageIndex]="pageIndex" [(total)]="total"></app-paging-data>
        </div>
    </div>
</div> 


<div overlay-loading [loading]="!isShowPage" class="row animated slideInDown">
    <app-table 
    id="tableus" 
    (DoubleClickValue)="viewmode($event)"
    (selectedValue)="selectedValueTab = $event"
    [configTable]="configTable" 
    [data]="data" 
    [Permission]="curentPermission"
    [totalData]="total">
    </app-table>

    
    
    
</div>
