  <div class="row" *ngIf="data">
    <div class="col s6">
      <div class="row">
        <div class="col s5">
            <p class="hint">Thoát: </p>
        </div>
        <div class="col s7">
            <p class="content">ESC (Escape)</p>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <p class="hint">Thêm dòng mới:</p>

        </div>
        <div class="col s7">
            <p class="content">Ctrl + I</p>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <p class="hint">Xóa dòng chọn:</p>

        </div>
        <div class="col s7">
            <p class="content">Ctrl + X</p>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <p class="hint">Focus tìm kiếm: </p>

        </div>
        <div class="col s7">
            <p class="content">Alt + F</p>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <p class="hint">Lưu: </p>

        </div>
        <div class="col s7">
            <p class="content">Ctrl + L</p>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <p class="hint">Chọn ô: </p>

        </div>
        <div class="col s7">
            <p class="content">Alt + các phím mũi tên</p>
        </div>
    </div>
    </div>
    <div class="col s6">
      <div class="row">
        <div class="col s5">
            <p class="hint">Copy dòng chọn: </p>
        </div>
        <div class="col s7">
            <p class="content">F2</p>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
            <p class="hint">Copy giá trị hiện tại và thêm 1 dòng </p>
        </div>
        <div class="col s7">
            <p class="content">F3</p>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
            <p class="hint">Copy giá trị hiện tại xuống dòng dưới </p>
        </div>
        <div class="col s7">
            <p class="content">F4</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!data">
    <div class="col s6">
      <div class="row">
        <div class="col s5">
            <p class="hint">Thoát: </p>
        </div>
        <div class="col s7">
            <p class="content">ESC (Escape)</p>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <p class="hint">Thêm phiếu mới:</p>

        </div>
        <div class="col s7">
            <p class="content">Ctrl + I</p>
        </div>
    </div>
    <div class="row">
      <div class="col s5">
          <p class="hint">Sửa phiếu: </p>

      </div>
      <div class="col s7">
          <p class="content">Ctrl + E</p>
      </div>
  </div>
    <div class="row">
        <div class="col s5">
            <p class="hint">Xóa phiếu:</p>

        </div>
        <div class="col s7">
            <p class="content">Ctrl + X</p>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <p class="hint">Focus tìm kiếm: </p>

        </div>
        <div class="col s7">
            <p class="content">Alt + F</p>
        </div>
    </div>
    <div class="row">
      <div class="col s5">
          <p class="hint">Nhân đôi phiếu: </p>

      </div>
      <div class="col s7">
          <p class="content">Ctrl + F2</p>
      </div>
  </div>
    <div class="row">
      <div class="col s5">
          <p class="hint">Xuất file excel: </p>

      </div>
      <div class="col s7">
          <p class="content">Ctrl + F11</p>
      </div>

  </div>

    </div>
    <div class="col s6">
      <div class="row">
        <div class="col s5">
            <p class="hint">Sắp xếp cột tăng dần </p>
        </div>
        <div class="col s7">
            <p class="content">Ctrl + A</p>
        </div>
    </div>
    <div class="row">
      <div class="col s5">
          <p class="hint">Sắp xếp cột giảm dần </p>
      </div>
      <div class="col s7">
          <p class="content">Ctrl + Z</p>
      </div>
  </div>

      <div class="row">
        <div class="col s5">
            <p class="hint">Tính tổng cột </p>
        </div>
        <div class="col s7">
            <p class="content">F3</p>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
            <p class="hint">Tính tổng cột(loại trừ giá trị đang chọn)</p>
        </div>
        <div class="col s7">
            <p class="content">Ctrl + F3</p>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
            <p class="hint">Lọc theo điều kiện </p>
        </div>
        <div class="col s7">
            <p class="content">F4</p>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
            <p class="hint">Alt +F5 </p>
        </div>
        <div class="col s7">
            <p class="content">Tải lại dữ liệu</p>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
            <p class="hint">Lọc loại trừ giá trị hiện tại </p>
        </div>
        <div class="col s7">
            <p class="content">F6</p>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
            <p class="hint">Lọc theo giá trị hiện tại </p>
        </div>
        <div class="col s7">
            <p class="content">F7</p>
        </div>
      </div>

    </div>
  </div>
