.group-client-list{
    height: calc(100vh - 90px);

    .group-container{
        display: inline-block; 
        height: 100%; 
        width: 100%; 
        border: 1px solid #e0e0e0;
        border-bottom: none;
        .group-item{
            display: inline-block; 
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            padding: 10px;
            position: relative;
            &:hover{
                background-color: #ddd;
            }
            .control-button{
                position: absolute;
                top: 10px;
                right: 10px;
                span{
                    min-width: 20px;
                }
            }
        }
    }
}

.mess-list{
    height: calc(100vh - 90px);
    .messcontainer{
        height: calc(100% - 50px);
        overflow: scroll;
        .mess-item{
            padding: 5px;
        }

    }
}

.admin-chat{
    input{
        width: calc(100% - 95px);
        height: 23px;
        border-radius: 3px;
        background-color: var(--bgbutton-color);
        border: none;
        transform: translateY(0px);
        margin-left: 4px;
        padding: 2px 11px 5px;
        font-weight: 400;
    }
    a{
        opacity: 1;
        pointer-events: auto;
        background: var(--primarybg-color);
        width: 61px;
        height: 30px;
        display: inline-block;
        padding: 3px;
        color: white;
        text-align: center;
        transform: translateX(6px);
        border-radius: 4px;

    }
}

.active{
   background-color: var(--primary-color) !important; 
   color: white;
   span{
       color: white;
   }
}