<div id="modalprog" #modalprog class="modal progresspopup" role="dialog" tabindex="0" >
    <div anchor-host></div>
    <div class="modal-title" style="position: relative;">
        <div class="loadingio-spinner">
            <img src="assets/images/loadingLogo.png">
              <div class="loadercss">
                  <div>
                  </div>
              </div>
           </div>
        <p id="progr" style="position: absolute;
        top: 10px;
        left: 47px;
        font-weight: 500;
        color: #162c4c;">Đang xử lý 1/2...</p>
    </div>
</div>

