<div class="pagination">
    <select class="browser-default tooltipped" [(ngModel)]="limit"  [ngModelOptions]="{standalone: true}" data-position="top" (ngModelChange)="changelimit($event)" data-tooltip="Số hàng mỗi trang">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="999">999</option>
        <option value="999999">All</option>
    </select>
    <p class="pf">{{fromRecord}}</p>-<p class="pl">{{toRecord}}</p><span>/{{total}}</span>
    <i class="fa fa-angle-left" (click)="prevp()"></i><i (click)="nextp()"class="fa fa-angle-right"></i>
</div>
