<ngx-loading-bar color="white" diameter="14px"></ngx-loading-bar>
<!-- <div>
    <div class="page-content">
        <ol class="breadcrumb">
            <li  class="breadcrumb-item" aria-current="page">
                <a [routerLink]="label?.url" routerLinkActive="active">
                 {{label?.name }} 
              </a>
            </li>
        </ol>
       
    </div>
</div> -->
<app-header appRemoveHost>
</app-header>

<main>
    <router-outlet></router-outlet>
</main>
<!-- <app-footer></app-footer> -->

