.iimg{
    display: block;
    margin: auto;
    margin-top: 1%;
}
.div1{

    text-align: center;
    font-size: 45px;
    line-height: 95px;
    color: #bbbbbb;

}
.div2{
    text-align: center;
    font-size: 18px;
    color: #bbbbbb;
    margin-top: -25px;
}
