<a class="openModal tooltipped" id="year_picker_open" (click)="open()"  data-position="top"
data-tooltip="Chọn tháng, quý, năm"><i class="fas fa-calendar-week"></i></a>
<div class="modal modal-lg modaluipicker" #modal  [id]="id">
    <div class="modal-title">
        <div class="row nav-tools" style="margin: 0;">
            <div class="col s12 flex">
                <div class="title-n-t">
                    <a  style="background: none;">Chọn thời gian</a >
                </div>
                <div class="tool1">
                </div>
                <div class="tool2">
                </div>
                <div class="tool3">
                    <div class="t3">
                    </div>
                    <div class="search">
                    </div>
                    <div class="pagination">
                        <i class="fa fa-times" (click)="save()"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-content">

        <div class="row" style="margin-bottom: 10px;margin-top: 10px;">
            <div class="col s12" style="padding-left: 20px;">
                <label style="margin-right: 15px;">
                    <input name="radio" class="with-gap" type="radio" [(ngModel)]="type" value="thang" id="thang" />
                    <span>Tháng</span>
                </label>
                <label style="margin-right: 15px;">
                    <input name="radio" class="with-gap" type="radio" [(ngModel)]="type" value="quy" id="quy" />
                    <span>Quý</span>
                </label>
                <label style="margin-right: 15px;">
                    <input name="radio" class="with-gap" type="radio" [(ngModel)]="type" value="nam" id="nam" />
                    <span>Năm</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="thang">
                    <ng-container *ngIf="type == 'thang'">
                        <p class="sm-label">Tháng</p>
                        <select class="browser-default"  [(ngModel)]="thang">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </ng-container>
                    <ng-container *ngIf="type == 'quy'">
                        <p class="sm-label">Quý</p>
                        <select class="browser-default"  [(ngModel)]="quy">
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>
                        </select>
                    </ng-container>
                    <p class="sm-label">Năm</p>
                    <select class="browser-default" [(ngModel)]="nam" >
                        <option *ngFor="let i of lstYear" value="{{i}}">{{i}}</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-blue btn-flat  appr-but" (click)="save()" type="button">
            Xong
        </button>
        <button class="modal-action waves-effect waves-blue btn-flat  cancel-but" (click)="close()" type="button">
            Hủy
        </button>


    </div>
</div>
