.table-custom {
    height: auto;
}
.table-custom table thead tr {
    cursor: auto;
}
.table-custom table tbody tr {
    cursor: auto;
}

.fn-column {
    width: 80px;
}
.fn-column a {
    margin: 2px;
}
