<div class="activety">
    <div class="info-ac active">
      <div class="title-ac">
        <a class="show-ac active"><i class="fas fa-comment-dots"></i>Trao đổi</a>
        <a><i class="fas fa-user-clock"></i>Nhắc việc</a>
        <a class="show-u-ac dropdown-trigger" data-target="user-ac" dropdown><i class="fas fa-users"></i></a>
        <ul id="user-ac" class="dropdown-content drop-user-ac" tabindex="0">
          <li tabindex="0"><a href="#!"><i class="fa fa-times"></i>Hồ sơ cá nhân</a></li>
          <li tabindex="0"><a href="#!"><i class="fa fa-times"></i>Hồ sơ cá nhân</a></li>
          <li tabindex="0"><a href="#!"><i class="fa fa-times"></i>Hồ sơ cá nhân</a></li>
        </ul>
      </div>
      <div class="content-ac">
        <textarea [(ngModel)]="message" [ngModelOptions]="{standalone: true}"></textarea>
        <div class="c-ac">
          <!-- <div class="chip">
            bao-gia-nguyen-lieu-ABX.xlsx
            <i class="close material-icons">close</i>
          </div> -->
        </div>
  
        <div class="file-ac">
          <a (click)="addNote()">Đăng</a>
          <label style="opacity: 0.4; pointer-events: none;" for="upload-ac"><i class="fa fa-paperclip"></i></label>
          <input type="file" name="photo" id="upload-ac">
       </div>
    </div>
  </div>
  <div class="list-activety">

    <div class="repeat" *ngFor="let item of data">
        <div class="title-l-ac">
            <h4>{{item.createdDatetimeUtc*1000|dateAgo}}</h4>
            <hr>
          </div>
          <ul class="list-ac">
            <li>
              <img class="materialboxed" [src]="item.mainImage" >
              <div class="info-l-ac">
                <h4>{{item.fullName}}({{item.userName}}) - <span>{{item.createdDatetimeUtc*1000|date:'HH'}}h{{item.createdDatetimeUtc*1000|date:'mm'}}ph</span></h4>
                <p>{{item.message}}</p>
              </div>
            </li>
          </ul>
    </div>
  
  </div>
</div>