.hour-input,
.minute-input {
    display: inline-block !important;
    text-align: right !important;
    width: 40px !important;
}
.date-input {
    display: inline-block !important;
    width: 105px !important; 
    margin-left: 10px !important;
}

label {
    display: inline-block !important;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    transform: translateY(5px) !important;
    margin: 0 4px;
}
