.div-input {
    display: inline-block !important;
    position: relative !important;
}
.icon-date {
    position: absolute !important;
    right: 0 !important;
    font-size: 15px !important;
    top: 8px !important;
    color: #666 !important;
    cursor: pointer !important;
    width: 21px;
    height: 21px;
    background: #fff;
}
