
.accoutant-inputs{
  table td input, table td select{
      font-size: 14px;
      transform: translateY(0px) !important;
  }
  table td{
      height: 33px;
  }
  .a-i-c{
      overflow-y: auto;height: calc(100vh - 178px);padding: 1px;
  }
  margin-top: 10px;
  .disablee{
      cursor: not-allowed !important;
      i{
          cursor: not-allowed !important;
          pointer-events: none;
          opacity: 0.7;
      }
  }
  .areas-inputs{
      margin-bottom: 7px;
      box-shadow: 0 0px 4px 0px #d8d8d8;
      padding: 10px;
      >button{
          border: none;
          background: #2b5797;
          padding: 6px 8px;
          color: white;
          cursor: pointer;
      }
      .title-areas{
          margin-bottom: 7px;
          padding-top: 4px;
          padding-bottom: 0px;
          display: inline-flex;
          position: relative;
            width: 100%;
            button{
                border: none;
                 color: white;
                 cursor: pointer;
              i{
                  margin-left: 2px;
                  margin-right: 4px;
              }
            }
          h4{
              font-size: 18px;
              font-weight: 500;
              span{
                  font-size: 13px;
                  color: #00576b;
              }
          }
          i{
              margin-left: 5px;
              width: 27px;
              text-align: center;
              line-height: 25px;
              height: 25px;
              border-radius: 1px;
              color: white;
              cursor: pointer;
              -webkit-transform: translateY(-2px);
              transform: translateY(-2px);
          }
          .expand{
              position: absolute;
              right: -2px;
              top: 0;
              i{
                  color: white;
                  font-size: 20px;
                  width: 31px;
                  height: 29px;
                  line-height: 29px;
                  background: #7b7b7b;
                  transform: translateY(-4px);
              }
          }
      }
      .bottom-areas{
          margin-bottom: 0px;
  border-left: 0;
  padding-top: 11px;
  padding-bottom: 0px;
  padding-left: 0px;
      }
      &.active{
          padding-bottom: 3px;
          .field-inputs{
              display: none;
          }
          .dropdown-inputs{
              display: none;
          }
          .bottom-areas{
              display: none;
          }
      }
      .field-inputs{
          overflow-x: auto;
          table{
              margin-bottom: 3px;
              tr{
                  th{
                      box-shadow: -1px -1px 0px 0px #bdbdbd;
                      height: 30px;
                     // border: 1px solid #bdbdbd;
                  }
                  td{
                      position: relative;
                      >a{
                          color: rgb(107, 107, 107);
                          font-size: 14px;
                          position: absolute;
                          right: 1px;
                          top: 10px;
                          &:hover{
                              color: #2b5797;
                          }
                      }
                      input{
                          border-bottom: none !important;
                          // margin: 0 0 1px 0;
                          // height: 30px !important;
                          &:hover{
                              box-shadow: 0 1px 0 0 rgb(201, 200, 200) !important;
                          }
                      }
                      select{
                         >option{
                              height:200px;
                            }
                            &:hover{
                              border: 1px solid rgb(194, 193, 193) !important;
                          }
                          transform: translateY(6px);
                          height: 30px;
                          border: 1px solid transparent !important;
                          padding: 0px 2px;
                          text-align: center;
                          background: none;
                          cursor: pointer;
                          padding-right: 6px;
                          -webkit-appearance: none;
                          -moz-appearance: none;
                          -ms-appearance: none;
                           -o-appearance: none;
                              appearance: none;
                              &:focus{
                                  border: 1px solid #2b5797 !important;
                                  padding-left: 0px;
                                  margin-left: -2px;
                                  -webkit-appearance: listbox;
                                  -moz-appearance: listbox;
                                  -ms-appearance: listbox;
                                   -o-appearance: listbox;
                                      appearance: listbox;
                                      outline: none;
                                      border-radius: 1px;
                              }
                      }

                  }
              }
          }
      }
  }
}
table.striped tbody tr:hover {
  border-bottom: 1px solid #96afd4;
}
table.striped tbody tr {
  border-bottom: 1px solid transparent;
}
table.striped tr:nth-child(even) {
  background-color: rgba(43, 87, 151, 0.07);
}
table.striped tr:nth-child(even) td{
  background-color: #ebeff7;
}
table.striped tr:nth-child(odd) td{
  background-color: white;
}
.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important;
  border: transparent !important;
}
@media (max-width: 1201px){


}
@media (max-width: 1025px){


}
@media (max-width: 768px){
  .accoutant-inputs .areas-inputs > button {
      font-size: 13px;
  }
  .accoutant-inputs .areas-inputs .title-areas h4 {
      font-size: 15px;
      font-weight: 500;
  }
}

.dropdown-inputs{
  margin-right: 0px !important;
  color: white;
  background: #4390a7;
  padding: 2px 8px 2px;
  font-size: 14px;
  margin-left: 6px;
  margin-top: -4px;
  cursor: pointer;
  position: relative;
  i{
      padding-left: 0px;
      transform: translateY(0px) !important;
      width: 10px !important;
  }
  &:hover .dropdown-inputscontent{
      opacity: 1;
      transition: 0.3s;
      height: 108px;
      visibility: visible;
      li{
          opacity: 1;
          transition-delay: 0.5s;
          transition: 0.5s;
  visibility: visible;
      }
  }
}
.dropdown-inputs .dropdown-inputscontent{
  width: 244px !important;
  position: absolute;
  background: white;
  top: 29px;
  right: 0;
  z-index: 90;
  box-shadow: 1px 1px 3px 0px #adadad;
  opacity: 0;
  transition: 0.3s;
  height: 0px;
  visibility: hidden;
  // &.active{
  //     display: block;
  // }
}
.dropdown-inputs .dropdown-inputscontent li > a{
  font-size: 14px;
  color: #2b5797;
  display: block;
  line-height: 22px;
  padding: 5px 6px;
  i{
      margin-left: 0 !important;
      margin-right: 6px !important;
      background: transparent !important;
      color: #2b5797 !important;
      transform: translateY(-1px) !important;
  }
}
.dropdown-inputs .dropdown-inputscontent li {
  border-bottom: 1px solid #c7c6c6;
  min-height: 33px;
  border-left: 2px solid #d87800;
  opacity: 0;
  transition: 0.1s;
  visibility: hidden;
  &:hover{
      background-color: #d8e7fd;
  }
}

.filterField{
  .select-custom{
      i{
          right: 4px;
          top: 13px;
          position: absolute;
      }
      }
      td span{
          padding: 0px 0px;
          margin: 0;
          font-size: 13px;
      }
      td{
          select{
              margin-top: 8px;
          }
          input{
              margin: 0 !important;
          }
          i{
              cursor: pointer;
              color: red;
          }
          i.fa-plus{
              color: green;
          }
      }
      .select-custom select{
          border-bottom: 1px solid #dddddd;
      }
      .select-custom {
          padding-top: 0px;
          transform: translateY(-3px);
      }
      .yess{
          border: none;
          background: #fdeedd;
      }
}
.hasVal{
  color: #2b5797 !important;
}
.table-customacc th {
  background-color: var(--bg-bread);
  padding: 0px 5px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.table-customacc td {
  padding: 0px 5px;
  max-width: 0;
  height: 40px;
  border-radius: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.buttype1{
  background: #7b7b7b !important;
}
.buttype2{
  background: #498000 !important;
}
.buttype3{
  background: #b59050 !important;
}
.buttype4{
  background: #c35d5d !important;
}
.buttype5{
  background: #4390a7 !important;
}
// khi sửa cần thêm class parent nếu ko sẽ ảnh hưởng tới nơi khác cùng tên class
// .field-inputs table tr th {
//    border: none !important;
// }
.xoaf{
  cursor: pointer;color: #757575;font-size: 14px;
}
.groupbut{
  display: inline-flex;
  position: absolute;
  right: 35px;
  top: 0;
}
.dirty{
  font-size: 5px;
  color: #0593bd;
  position: absolute;
  left: 0px;
  top: 14px;
}
.stick-td{
  position: sticky !important;z-index: 9 !important;
  background: #edf1f7  !important;
}
.stick-td1{
  left: 0px;
}
.stick-td2{
  left: 24px;
}
.stick-td21{
  left: 75px;
}
.stick-td3{
  left: 235px
}
.stick-td4{
  left: 316px;
}
.stick-td5{
  left: 426px;
}
.stick-td6{
  cursor: not-allowed;left: 513px;
  position: relative;
  overflow: initial;

}
.shadow{
  box-shadow: 4px 4px 7px 0 #d8d8d8;
}
.text-center {
  text-align: center !important;
}
.stick-th{
  position: sticky !important;
  z-index: 9;

}
.stick-th-xxxs{
  vertical-align: middle; min-width: 25px;left: 0px;
}
.stick-th-row{
  text-align: center;left: 25px;    box-shadow: 1px 0px 0px 0 #bdbdbd , -1px -1px 0 0 #bdbdbd !important;
}
.stick-th-xxs{
  min-width: 32px;left: 24px;
}
.stick-th-lg{
  min-width: 160px;left: 75px;
}
.stick-th-xs{
  min-width: 81px;left: 235px;
}
.stick-th-md{
  min-width: 110px;left: 316px;
}
.stick-th-xmd{
  min-width: 87px;left: 426px;
}
.stick-th8{
  min-width: 77px;left: 513px;    box-shadow: 1px 0px 0px 0 #bdbdbd , -1px -1px 0 0 #bdbdbd !important;
}
.stick-th-lmd{
  z-index: 1;
  min-width: 120px;
  border-right: 1px solid #bdbdbd !important;
}
.fa-code{
  cursor: pointer;
  background: #bebebe;
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  &.active{
      background: #2b5797;
      color: white;
  }
}
.field-inputs table tr td [type=checkbox] + span:not(.lever) {
  padding-left: 15px;
}
.buttonBill{
  h6{
    font-size: 15px;
    font-weight: 500;
  }
  .item-buttonBill{
    background: #d6d6d6;
    min-width: 140px;
    display: inline-block;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    margin-right: 5px;
    padding-left: 6px;
    position: relative;
    color: #333333;
    line-height: 28px;
    cursor: pointer;
    margin-top: 5px;
    >div{
      width: calc(100% - 30px);
      display: inline-block;
    }
    i.fa-trash{
      color: white;
      margin-left: 6px;
      background: #d6d6d6;
      color: #333333;
      z-index: 9;
      padding: 4px;
      float: right;
      margin-top: 4px;
      margin-right: 3px;
    }
  }
}
